<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="com.Listners.Listners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Fresh Start/Selenium">
        <groups>
            <run>
                <include name="Sanity"/>
                <exclude name="Regression"/>
            </run>
        </groups>
        <classes>

            <class name="_2_Parellel_Testing._1_Parellel"/>
            <class name="_2_Parellel_Testing._2_Parellel"/>

        </classes>
    </test>
</suite>